
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1256">
  <title>Login Page</title>
  <!-- Integrate Bootstrap CSS via CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<div align="center"></div>
<div align="right" >
  <!--<a href="http://localhost:8085/login"  >Login</a> -->
  <button onclick="window.location.href='http://localhost:8085/login';" class="btn btn-primary">
    Login
  </button>

</div>
<h3>Welcome baaaaack Adminastratooor to our page  </h3>


<!--<span th:text = "${login}"></span>  -->

<!--<input type="submit" value="refresh" onclick="location.reload()"> -->

</body>
</html>